{% extends "layout.html" %}

{% block title %}
    Toplama Güncelle
{% endblock title %}    

{% block body %}
    <div class= "container">
    {% from "includes/_formhelpers.html" import render_field %}

    <h4>Toplama Güncelleme Sayfası</h4>
    <hr>

    <form method = "post">
        {{ render_field(form.miktar,class = "form-control") }}
        {{ render_field(form.kimden,class = "form-control") }}
        {{ render_field(form.session,class = "form-control") }}
        {{ render_field(form.info,class = "form-control") }}
        <button type="submit" class="btn btn-secondary">Güncelle</button>
    </form>


{% endblock body %}

